body{
    margin: 0;
    height: 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    background-image: url("images/web-bg.png");
}

nav{
  display: flex;
  position: fixed;
  height: 80px;
  padding: 0 50px 0 100px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: transparent;
}
nav .logo{
  color: rgb(175, 10, 10);
  font-size: 35px;
  text-decoration: none;
  font-weight: 600;
}
nav ul{
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
  justify-items: center;
  text-align: center;
  align-items: center;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: rgb(243, 9, 9);
  background: rgb(57, 165, 207);
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: rgb(218, 13, 13);
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}

form.example input[type=tet] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  border-top-right-radius: 15px;
  background: #f1f1f1;
  border-left: none;
}

form.example button {
  border-bottom-left-radius: 15px;
  float: left;
  width: 15%;
  padding: 10px;
  background: lightslategray;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-right: none;
  border-radius:none;
  cursor: pointer;
}

form.example button:hover {
  background: #fff;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}



input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

button-1 {
  background-color: transparent;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.9;
}

button-1:hover {
  opacity:1;
}

.snbtn{
  background-color: green;
}
.cancelbtn {
  padding: 14px 20px;
  background-color: red;
}

.cancelbtn, .snbtn {
  float: left;
  width: 50%;
}

.contain {
  padding: 16px;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 200px) {
  .cancelbtn, .snbtn {
     width: 80%;
  }
}
    /*--------------------------------------------------------------------------------*/

    
   

  .box1{
    border: none;
    max-width: 100%;
    padding-bottom:30px ;
    text-align: center;
    justify-content: center;
   
}
.b1h1{
    margin-top: 30px;
    color: #fff;
}
.b1h4{
    word-spacing: 10px;
    margin-top: 50px;
    color: #fff;
}
.Feature{
    padding: 15px 30px;
    border: 1px solid black;
    font-size: 20px;
    color: rgb(255, 123, 0);
    border-radius: 12px;  
    font-weight: 600; 
}
.Feature:hover{
    background-color: rgb(0, 60, 255);
    color: white;
}
.discoer{
    padding: 15px 30px;
    color:rgb(255, 123, 0);
    font-size: 20px;
    border-radius: 12px;  
    font-weight: 600; 
   
}
.discoer:hover{
    background-color: rgb(0, 60, 255);
    color: white;
}

.card{
  margin: auto;
  padding: 50px;
  text-align: center;
}

.card-title{
  font-size: 38px;
}
.card-text{
  color: black;
  font-size: 25px;
}
.card-design{
  color: blueviolet;
  text-shadow: 0 0 4px #FF0000, 0 0 6px #0000FF;
 
}

.soloimg{
  padding: 70px;
  margin: auto;
}
.get{
  
  color: white;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}
.disbtn{
  width: 100%;
  padding: 50px;
}
.dbtn{
  margin: auto;
  display: block;
  padding: 15px 30px;
  color:rgb(255, 123, 0);
  font-size: 20px;
  border-radius: 12px;  
  font-weight: 600;
}
.dbtn:hover{
  background-color: rgb(0, 60, 255);
  color: white;
}
.available{
  padding: 30px;
  color: white;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 18%;
  word-spacing: auto;
}


.col-m6{
  color: ghostwhite;
  padding: 30px;
}

.icons{
  border: 1px solid wheat;
  border: none;
  width: 80%;
  margin: auto;
  padding: 50px;
   }
   .moreapps{
      width: 160px;
      margin: auto;
      height: 50px;
      border-radius: 15px;
      
   }
   .moreapps a{
      text-decoration: none;
      color: rgb(255, 123, 0);
      font-size: 20px;
      font-weight: 600;
   }
   .moreapps:hover{
    background-color: rgb(0, 60, 255);
    color: rgb(255, 123, 0);
      
   }
   
   .i1{
      border-radius: 17px;
      justify-content: space-evenly;
      opacity: 0.5;
   }
   .i1:hover{
      opacity: 1;
   }
  
  
  
    /*--------------------------------------------------------------------------------*/

    footer{
      background-color: rgb(32, 2, 78);
      width: 100%;
      bottom: 0;
      left: 0;
      position: static;
    }
    footer::before{
      content: '';
      left: 0;
      top: 100px;
      height: 1px;
      width: 100%;
      background: red;
    }
    footer .content{
      max-width: 1250px;
      margin: auto;
      padding: 30px 40px 40px 40px;
    }
    footer .content .top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
    }
    .content .top .logo-details{
      color: rgb(70, 30, 218);
      font-size: 30px;
    }
    
    footer .content .link-boxes{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 5 - 10px);
    }
    .content .link-boxes .box .link_name{
      color:#fff;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 10px;
      position: relative;
    }
    .link-boxes .box .link_name::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      height: 2px;
      width: 35px;
    }
    .content .link-boxes .box li{
      margin: 6px 0;
      list-style: none;
    }
    .content .link-boxes .box li a{
      color: rgb(72, 23, 248);
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      opacity: 0.8;
      transition: all 0.4s ease
    }
    .content .link-boxes .box li a:hover{
      opacity: 1;
      text-decoration: underline;
    }
    footer .bottom-details{
      width: 100%;
      background: #000000;
    }
    footer .bottom-details .bottom_text{
      max-width: 1250px;
      margin: auto;
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 14px;
      font-weight: 300;
      color: #fff;
      opacity: 0.8;
      text-decoration: none;
    }

    .bottom-details .bottom_text a:hover{
      opacity: 1;
      text-decoration: underline;
    }
    .bottom-details .bottom_text a{
      margin-right: 10px;
    }
    @media (max-width: 900px) {
      footer .content .link-boxes{
        flex-wrap: wrap;
      }
      footer .content .link-boxes .input-box{
        width: 40%;
        margin-top: 10px;
      }
    }
    @media (max-width: 700px){
      footer{
        position: relative;
      }
      .content .top .logo-details{
        font-size: 26px;
      }
      .content .top .media-icons a{
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
      }
      footer .content .link-boxes .box{
        width: calc(100% / 3 - 10px);
      }
      footer .content .link-boxes .input-box{
        width: 60%;
      }
      .bottom-details .bottom_text span,
      .bottom-details .bottom_text a{
        font-size: 12px;
      }
    }
    @media (max-width: 520px){
      footer::before{
        top: 145px;
      }
      footer .content .top{
        flex-direction: column;
      }
      .content .top .media-icons{
        margin-top: 16px;
      }
      footer .content .link-boxes .box{
        width: calc(100% / 2 - 10px);
      }
      footer .content .link-boxes .input-box{
        width: 100%;
      }
      .bot1{
        border: 1px solid gold;
       align-items: center;
        width: 800px;
        height: 40px;
        margin-left: 350px;
        text-align: center;
        padding: 10px;
        color: rgb(63, 133, 126);
        background-color: cornsilk;
        border-radius: 10px;
    }
    .bot{
        border: 1px solid blue;
        background-color:dodgerblue;
        color: rgb(252, 249, 246);
        font-style:fantasy;
        font-size: 15px;
       border-radius: 10px;
       padding: 5px;
    }
    }